nav.navbar.before-main
    div.container-fluid
        div.col-xs-8
            div
                div.col-xs-12.col-lg-12
                    p.header-title Graphpedia - Visualize Terms
        div.col-xs-4
            div
                div.col-lg-12.visible-lg
                    p.header-title <span class=small-note>(scope limited to programming field)</span>