a.menu-link(href="#menu")#menuLink <span class="glyphicon glyphicon-expand"></span>
div#menu
    div.pure-menu.pure-menu-open#menu
        a.pure-menu-heading(href='/', align="center", style="text-transform: none; padding:0.9em 0em;")
            span Graphpedia
            img.icon-style(src="/icon/g_icon.png")
        a.pure-menu-heading(href='/random_term', style='padding-bottom:5px;') <span class="glyphicon glyphicon-random"></span> Random Term
        if (typeof user !== "undefined")
            a Welcome, #{user.username}
        if (typeof user !== "undefined")
            a.pure-menu-heading(href="/logout") <span class="glyphicon glyphicon-log-out"></span> Logout
        if (typeof recent_terms !== "undefined")
            a <span class="glyphicon glyphicon-search"></span> Recent Searches
            if recent_terms.length
                ul
                    for term in recent_terms
                        li
                            a(href='/terms/#{term.id}') #{term.name}
            else
                p There are no terms currently.
        a.pure-menu-heading(href='/stats') <span class="glyphicon glyphicon-tasks"></span> Statistics
        a.pure-menu-heading(href='/about') <span class="glyphicon glyphicon-info-sign"></span> About
        p.footer(align='center') Copyright &copy; 2014-2021 Graphpedia
        p.footer(align='center') By Zhu Liang & Li Dongyan
