extends layout

block content
    div.subdiv-thin
        h3(style="margin-left:17px;") We are always open to feedback, contact the developers via 
        ul
            li
                a.text-highlight(href="mailto:zhuliangg11@gmail.com?Subject=Feedback for Graphpedia") zhuliangg11@gmail.com
            li
                a.text-highlight(href="https://www.facebook.com/pages/Graphpedia/1538426673045874", target="_blank") Graphpedia Official Facebook Page
    div.subdiv-thin(style='margin-top:10px;')
        h3(style="margin-left:17px;") Changelog of Graphpedia
        ul
            li
                p Version 1.4 11 Sep 2014
                ul
                    li
                        p Revamped the UI, moved some components to the sidebar
            li
                p Version 1.3 27 Aug 2014
                ul
                    li
                        p Adjusted some colors and layouts
                    li
                        p Added limits to input fields(name and description)
                    li
                        p Replaced the relationship "supports" with "is required by" to clear the confusion
            li
                p Version 1.2 25 Aug 2014
                ul
                    li
                        p Display terms that need more relationships on index page
            li
                p Version 1.1 24 Aug 2014
                ul
                    li
                        p Added link to the term inside visualization panel directly
                    li
                        p Removed unnecessary items in details panel
            li
                p Version 1.0 22 Aug 2014
                ul
                    li
                        p Official release at Orbital Splashdown


