extends layout

block content
    div.subdiv
        h3(style="margin-left:17px;") Changelog of Graphpedia
        ul
            li
                p Version 1.0 22 Aug 2014
                ul
                    li
                        p Official release at Orbital Splashdown
            li
                p Version 1.1 24 Aug 2014
                ul
                    li
                        p Added link to the term inside visualization panel directly
                    li
                        p Removed unnecessary items in details panel
            li
                p Version 1.2 25 Aug 2014
                ul
                    li
                        p Display terms that need more relationships on index page