extends header_bar_base

block center
    p.form-group(style='padding-top:5px') - Graph visualization of related terms.
block right
    a.btn.btn-default(href='http://www.youtube.com/watch?v=4FYMDcFoUog') Video demo
