div.before-main
    form(action='/search', method='POST')
        div.row.search-bar-header
            div.col-xs-2
                p(align='center', style='margin-top: 12px; margin-left: 50px') <strong>Graphedia</strong>
            div.col-xs-6
                input.form-control.input-lg(type='text', name='name', placeholder='Search a term', required)
            div.col-xs-1
                input.btn.btn-lg.btn-default(type='submit', value='Search')