extends header_bar_base_no_search

block center
    div.row
        div.col-xs-12.col-lg-5
            p.header-title Graphpedia - Visualize Terms
        div.col-lg-7.visible-lg
            p.header-title <span class=small-note>(scope limited to programming field)</span>
block right
    div.row
        div.col-lg-2.visible-lg
        div.col-sm-7.col-lg-6
            if (user)
                a.small-note.header-link #{user.username}
        div.col-sm-7.col-lg-2
            if (user)
                a.small-note.header-link(href="/logout") Logout
        div.col-sm-7.col-lg-2
            a.small-note.header-link(href='/about') About
