extends header_bar_base

block center
    input.form-control.form-style(type='text', name='name', placeholder='Search/Create a term', required)
block right
    input.btn.btn-header(type='submit', value='Go')