extends header_bar_base

block center
    p(style='padding-top:5px') - Graph visualization of related terms.
block right
    a.btn.btn-header(href='http://www.youtube.com/watch?v=4FYMDcFoUog') Video demo
