extends layout_index

block content
    //- p(style='padding-top:75px; padding-left: 25px')
    //-     a.text-highlight(href='/terms') View all terms
    //-     a.text-highlight(href='/random_term') random term
    form(action='/search', method='POST')
        div.row.search-bar.vertical-center
            div.col-xs-3
            div.col-xs-6
                input.form-control.input-lg.input-lg-style.form-style(type='text', name='name', autofocus="autofocus", placeholder='Search a term', required)
            div.col-xs-3
                input.btn.btn-lg.btn-header(type='submit', value='Search')

    //- div.index-main
    //-     p I would like to add a new relationship:
    //-     form(action='', method='POST')  
    //-         div.col-xs-3
    //-             a random1
    //-         div.col-xs-4
    //-             label(style="width: 100%;")
    //-                 select.form-style(name='relationship[name]', required, id='e1', style="width: 100%;")
    //-                     option(id='select-control')
    //-                     for type in relationship_types
    //-                         option(id='select-control', value='#{type}') #{type}
    //-         div.col-xs-3
    //-             a random2
    //-         div.col-xs-2
    //-             a.btn.btn-normal submit
    div.index-main
        //- div.row
        //-     div.col-xs-3
        //-         p(align='right', style='padding-top: 5px') Relationship between
        //-     div.col-xs-9
        //-         form(role='form', action="/pathfind",method="post")
        //-             div.col-xs-4
        //-                 input.form-control.form-style(type='text', name="name1", placeholder='First Term')
        //-             div.col-xs-1
        //-                 p(style='padding-top: 5px') and
        //-             div.col-xs-4
        //-                 input.form-control.form-style(type='text', name="name2", placeholder='Second Term')
        //-             div.col-xs-2
        //-                 a.btn.btn-normal(type='submit') Search
        //-             &nbsp;

