extends layout

block content
    div.main
        h1= title
        p.
            Visualize Terms
            with relationships
        p
            strong
                | Browse All:&nbsp;
                a(href='/terms') View all terms