extends layout

block content
    
    //- div.before-main
    //-     img.bgi(src="http://www.starrynightphotos.com/constellations/images/musca.jpg")
    div.before-main
        form(action='/search', method='POST')
            div.row.search-bar.text-primary.vertical-center
                div.col-xs-6
                    input.form-control.input-lg(type='text', name='name', autofocus="autofocus", placeholder='Search a term', required)
                div.col-xs-1
                    input.btn.btn-lg.btn-default(type='submit', value='Graphedia')

//- div.after-main
    //-     h1= title
    //-     p.
    //-         Visualize Terms
    //-         with relationships
    //-     p
    //-         strong
    //-             | Browse All:&nbsp;
    //-             a(href='/terms') View all terms