extends layout

block content
    div.beforemain
        img.bgi(src="http://www.starrynightphotos.com/constellations/images/musca.jpg")
    div.main
        div.form-inline.searchBar
            form(action='/', method='POST')
            input(type='text', name='name', placeholder='Search a term', class="form-control", required)
            input(type='submit', value='Graphedia', class="btn btn-default")





    div.afterMain
        h1= title
        p.
            Visualize Terms
            with relationships
        p
            strong
                | Browse All:&nbsp;
                a(href='/terms') View all terms