extends layout_index

block content
    
    //- div.before-main
    //-     img.bgi(src="http://www.starrynightphotos.com/constellations/images/musca.jpg")
    div.before-main
        form(action='/search', method='POST')
            div.row.search-bar.vertical-center
                div.col-xs-2
                div.col-xs-6
                    input.form-control.input-lg(type='text', name='name', autofocus="autofocus", placeholder='Search a term', required)
                div.col-xs-1
                    input.btn.btn-lg.btn-default(type='submit', value='Search')
        div.row(style='padding-top:5px')
            div.col-xs-2
            div.col-xs-6
                p(style='padding-top:5px') Graphedia - Graph visualization of related terms.
            div.col-xs-1
                a.btn.btn-default(href='http://www.youtube.com') Video demo


//- div.after-main
    //-     h1= title
    //-     p.
    //-         Visualize Terms
    //-         with relationships
    //-     p
    //-         strong
    //-             | Browse All:&nbsp;
    //-             a(href='/terms') View all terms