doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/tree.css')
    script(src='/bootstrap/js/jquery.min.js')
    script(src='/bootstrap/js/bootstrap.min.js')
    script(src='/d3/d3.min.js')
    script(src='/d3/tree_path.js')
    link(rel='stylesheet', href='/select2/select2.css')
    script(src='/select2/select2.js')
    script(src='/select2/form.js')
    link(rel='stylesheet', href='/purecss/menus-min.css')

  body
    include header_bar
    div.main(style='position:fixed; left:10%')
        block content
    div.row.fixed-footer
        p(align='center') Copyright &copy; 2014 Graphedia | By Zhu Liang & Li Dongyan



// GitHub ribbon! via https://github.com/blog/273-github-ribbons
// a(href='https://github.com/aseemk/node-neo4j-template')
//    img(
//        style='position: absolute; top: 0; right: 0; border: 0;'
//        src='https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png'
//        alt='Fork me on GitHub'
//    )
