extends layout

block content
    div.main
        div.subdiv
            h2 Login Page
            br
            p.lead This login is only for Graphedia management team.
            p.lead No login is required for normal users.
            br
            form(role='form', action="/login",method="post", style='width: 80%; position: relative; left: 10%')
                .form-group
                    input.form-control.form-style(type='text', name="username", placeholder='Enter Username')
                .form-group
                    input.form-control.form-style(type='password', name="password", placeholder='Password')
                .form-group
                    button.btn.btn-normal(type='submit', style='float:right') Submit
            br
            if (typeof info !== "undefined")
                h4= info