extends layout2

block content
    div.main
        p The term <span class='text-highlight'>#{name}</span> does not exist yet.
        p Would you like to create the term <span class='text-highlight'>#{name}</span> ?

        form(action='/terms', method='POST')
            p Create a new term:
            div.row
                div.col-xs-2
                    input.form-control.form-style(type='text', name='name', value='#{name}', required)
                div.col-xs-4
                    input.form-control.form-style(type='text', autofocus='autofocus', name='description', placeholder='A short description of this term.',required)
                div.col-xs-1
                    input.btn.btn-normal(type='submit', value='Create')
