extends layout

block content
    div.main
        p.text-info The term <tw class='text-warning'><strong>#{name}</strong></tw> does not exist yet.
        p.text-info Would you like to create the term #{name}?

        form.translucent(action='/terms', method='POST')
            p.text-primary Create a new term:
            input(type='text', name='name', autofocus='autofocus', value='Name', required)
            input(type='submit', value='Create')
