extends layout

block content
    div.subdiv
        p The term <span class='text-highlight'>#{name}</span> does not exist yet.
        p Would you like to create the term <span class='text-highlight'>#{name}</span> ?
        include ./includes/new_term_name