extends layout

block content
    div.subdiv
        h3 Visualize indirect relationship (via intermediate terms) between
        br
        form(role='form', action="/pathfind",method="post")
            div.row
                div.col-xs-4
                    input.form-control.form-style(type='text', name="name1", placeholder='eg. node', required)
                div.col-xs-1
                    p(align='center') and
                div.col-xs-4
                    input.form-control.form-style(type='text', name="name2", placeholder='eg. css', required)
                div.col-xs-3
                    button.btn.btn-normal(type='submit', value="Visualize") Visualize
