extends layout

block content
    div.main
        div.subdiv(style='width:75%')
            h2 Register Page
            p.lead You can only register if you have an invatation code.
            br
            form(role='form', action="/register",method="post", style='width: 80%; position: relative; left: 10%')
                .form-group
                    input.form-control.form-style(type='text', name="username", placeholder='Enter Username')
                .form-group
                    input.form-control.form-style(type='password', name="password", placeholder='Password')
                .form-group
                    input.form-control.form-style(type='text', name="code", placeholder='Invatation code')
                button.btn.btn-normal(type='submit', style='float:right') Submit

            br
            if (typeof info !== "undefined") 
                h4= info