extends layout
block content
    div.subdiv-thin
        div.row(style='margin:5px 0px auto;text-align:center;')
            p Total number of relationships: #{rel_count}
            p Total number of terms: #{term_count}
            p Relationship to Term ratio: #{ratio}
