extends layout

block content
    div.before-main
        form(action='/search', method='POST')
            div.row.search-bar.text-primary
                div.col-xs-6
                    input.form-control.input-lg(type='text', name='name', autofocus="autofocus", placeholder='Search a term',required)
                div.col-xs-1
                    input.btn.btn-lg.btn-default(type='submit', value='Graphedia')
    div.main
        h1.text-info Terms

        if terms.length
            p.text-info Here are the current terms:
            ul
                for term in terms
                    li.text-info
                        a(href='/terms/#{term.id}') <span class='text-highlight'>#{term.name}</span>
        else
            p.text-warning There are no terms currently.

        form(action='', method='POST')
            div.row
                div.col-xs-3    
                    p.text-primary Create a new term:
                div.col-xs-2
                    input(type='text', name='name', placeholder='Name', class='form-control', required)
                div.col-xs-4
                    input(type='text', name='description', placeholder='a description for your term', class='form-control', required)
                div.col-xs-1
                    input(type='submit', class = 'btn btn-default', value='Create')
