extends layout

block content
    h1 Terms

    if terms.length
        p Here are the current terms:
        ul.terms
            for term in terms
                li.term
                    a(href='/terms/#{term.id}') #{term.name}
    else
        p There are no terms currently.

    form.form-inline(action='', method='POST')
        p Create a new term:
        input(type='text', name='name', placeholder='Name', class='form-control', required)
        input.input-large(type='text', name='description', placeholder='a description for your term', class='form-control', required)
        input(type='submit', class = 'btn btn-default', value='Create')
