extends layout

block content
    h1 Terms
    if (typeof info !== "undefined")
        h4(align='center') #{info}
    if terms.length
        p Here are the terms:
        ul(style="list-style-type: none;")
            for term in terms
                li
                    div(style="margin-bottom:5px;")
                        a.text-link(href='/terms/#{term.id}') #{term.name} <span class="glyphicon glyphicon-arrow-right"></span>
    else
        p There are no terms currently.
    p Create the term:
    br
    if (typeof name !== "undefined")
        include ./includes/new_term_name
    else
        include ./includes/new_term