body {
    font: 20px sans-serif;
    background-color: #427F00;
    color: #132600;
}


/*custermized*/
/*for reference:
color series: 
v1: #000000, #19100D, #4b3027, #7d5041
v2: #000000, #A58C6A, #59323C, #260126, #F2EEB3, #BFAF80, #8C6954; (https://kuler.adobe.com/Vintage-Romantic-color-theme-2646522/)
*/

.search-bar {
    width: 100%;
    display: block;
    position: fixed;
    left: 17%;  
}

.vertical-center {
    position: fixed;
    top: 45%; 
}

.row {
    margin-bottom: 15px;
}

.before-main {
    background-color: #F2EEB3;
    position: fixed;
    top: 0%;
    z-index: 1;
    height: 60px;
    padding-top: 7px;
    width: 100%;
}

.main {
    margin-top: 60px;
    padding-top: 10px;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #427F00;
}

.subdiv {
    min-height: 1px;
    background-color: #c2ff81;
    border-radius: 30px;
    border: 10px solid #c2ff81;
    width: 100%;
    padding: 15px;
    margin-bottom: 15px;
}

.text-highlight {
    color: #000000;
    font-family: Calibri, Candara;    
    font-weight: bold;
}

.btn-close {
    color: #605F61;
    border: 1px solid #AEAEAE;
    border-radius: 5px;
    background: #ffffff;
    font-size: 20px;
    font-weight: bold;
    display: inline-block;
    line-height: 0px;
    padding: 0px;
    width: 25px;
    height: 25px;
    margin-left: 4px;
}

/*overwitten boostrap theme*/

a:hover,
a:focus,
a:active {
    text-decoration: none;
    color: #ffffff;
} 

/*
version 1
.btn:hover,
.btn:active,
.btn:focus {
    background-color: #ffffff;
    color: #19100D;
    outline: 0px;
    border: 1px solid #19100D;
    -webkit-box-shadow: inset 0 3px 5px rgba(243, 247, 129, 1);
            box-shadow: inset 0 3px 5px rgba(243, 247, 129, 1);
    opacity: 1;
}

.btn {
    color: #19100D;
    border: 1px solid #ffffff;
}

.text-muted {
    color: #9da3a5;
    font-family: Calibri, Candara;
}

.text-primary {
    color: #F3F781;
    font-family: Calibri, Candara;
}

.btn-primary {
    color: #19100D;
    background-color: #c4c768;
    opacity: 0.64;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
    background-color: #c4c768;
    color: #19100D;
    outline: 0px;
    border: 1px solid #19100D;
    -webkit-box-shadow: inset 0 3px 5px rgba(243, 247, 129, 1);
            box-shadow: inset 0 3px 5px rgba(243, 247, 129, 1);
    opacity: 1;
}

.text-success {
    color: #2EFE2E;
    font-family:  "Arial Black", Gadget;
}

.text-info {
    color: #ffffff;
    font-family: Tahoma, Verdana, Geneva;
}

.btn-info {
    color: #19100D;
    background-color: #ffffff;
    opacity: 0.64;
}

.btn-info:hover,
.btn-info:active,
.btn-info:focus {
    background-color: #ffffff;
    color: #19100D;
    outline: 0px;
    border: 1px solid #19100D;
    -webkit-box-shadow: inset 0 3px 5px rgba(243, 247, 129, 1);
            box-shadow: inset 0 3px 5px rgba(243, 247, 129, 1);
    opacity: 1;
}

.text-warning {
    color: #FE2EF7;
}

.btn-warning {
    color: #19100D;
    background-color: #FE2EF7;
    opacity: 0.64;
}

.btn-warning:hover,
.btn-warning:active,
.btn-warning:focus {
    background-color: #FE2EF7;
    color: #19100D;
    outline: 0px;
    border: 1px solid #19100D;
    -webkit-box-shadow: inset 0 3px 5px rgba(243, 247, 129, 1);
            box-shadow: inset 0 3px 5px rgba(243, 247, 129, 1);
    opacity: 1;
}

.text-danger {
    color: #FE2E2E;
}

.btn-danger {
    color: #19100D;
    background-color: #FE2E2E;
    opacity: 0.64;
}

.btn-danger:hover,
.btn-danger:active,
.btn-dander:focus {
    background-color: #FE2E2E;
    color: #19100D;
    outline: 0px;
    border: 1px solid #19100D;
    -webkit-box-shadow: inset 0 3px 5px rgba(243, 247, 129, 1);
            box-shadow: inset 0 3px 5px rgba(243, 247, 129, 1);
    opacity: 1;
}
*/

/*version 2*/

.btn {
    font-size: 16px;
    color: #132600;
    border: 1px solid #59323C;
    background-color: #FAF9E6;
    -webkit-box-shadow: inset 0 3px 5px rgba(191, 175, 128, 1);
            box-shadow: inset 0 3px 5px rgba(191, 175, 128, 1);
    opacity: 0.64;
}

.btn:hover,
.btn:active,
.btn:focus {
    color: #132600;
    background-color: #F2EEB3;
    outline: 0px;
    border: 1px solid #8C6954;
    -webkit-box-shadow: inset 0 3px 5px rgba(191, 175, 128, 1);
            box-shadow: inset 0 3px 5px rgba(191, 175, 128, 1);
    opacity: 1;
}

.btn-default {
    color: #132600;
    border: 1px solid #BFAF80;
    background-color: #FAF9E6;
    -webkit-box-shadow: inset 0 3px 5px rgba(243, 239, 186, 1);
            box-shadow: inset 0 3px 5px rgba(243, 239, 186, 1);
    opacity: 0.64;
}

.btn-default:hover,
.btn-default:active,
.btn-default:focus {
    color: #132600;
    background-color: #ffffff;
    outline: 0px;
    border: 1px solid #BFAF80;
    -webkit-box-shadow: inset 0 3px 5px rgba(242, 238, 179, 1);
            box-shadow: inset 0 3px 5px rgba(242, 238, 179, 1);
    opacity: 1;
}



/*overwritten boostrap class*/


.form-control {
    color: #132600;
    font-size: 16px;
    background-color: #FAF9E6;
    opacity: 0.64;
    border: 1px solid #ffffff;
}

.form-control:hover,
.form-control:focus,
.form-control:active {
    color: #132600;
    font-size: 16px;
    background-color: #FAF9E6;
    border: 1px solid #ffffff
}

select.form-control,
textarea.form-control,
select.input,
textarea.input,
select.input-lg,
textarea.input-lg,
.input,
.form-control {
    font-family: sans-serif;
    color: #132600;
}

.form-control:focus {
    color: #132600;
    border-color: #ffffff;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(242, 238, 179, 1);
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(242, 238, 179, 1);
}
.form-control::-moz-placeholder,
.form-control:-ms-input-placeholder,
.form-control::-webkit-input-placeholder {
    color: #ffffff;
    opacity: 0.64;
}

.input-lg:focus {
    color: #132600;
    border-color: #ffffff;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(255, 255, 255, 1);
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(255, 255, 255, 1);
}

.input-lg::-moz-placeholder,
.input-lg:-ms-input-placeholder,
.input-lg::-webkit-input-placeholder {
  color: #ffffff;
  opacity: 0.64;
}