body {
    font: 20px sans-serif;
    background-color: #427F00;
    color: #132600;
    overflow-y: scroll;
}

#tree-container {
    margin-bottom: 15px;
    border-radius: 10px; 
}

/*text theme*/
.text-normal {
    color:#000000;
    font-weight: bold;
}

.text-highlight {
    color: #000000;
    font-family: Calibri, Candara;    
    font-weight: bold;
}

/*div theme*/
.before-main {
    background-color: #F2EEB3;
    height: 50px;
    width: 100%;
}

.main {
    margin-top: 50px;
    padding-top: 10px;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #427F00;
    min-height: 650px;
}

.subdiv {
    min-height: 1px;
    background-color: #8bb75c;
    border-radius: 10px;
    width: 100%;
    padding: 15px;
    margin-bottom: 15px;
    -webkit-box-shadow: inset 0 3px 5px rgba(174, 229, 116, 1);
            box-shadow: inset 0 3px 5px rgba(174, 229, 116, 1);
            /*box-shadow: inset 0 3px 5px rgba(104, 137, 69, 1);
            box-shadow: inset 0 3px 5px rgba(104, 137, 69, 1);*/
}

.index-footer {
    bottom: 0px;
    width: 100%;
    height: 25px;

}

.fixed-footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 25px;

}

.footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 25px;

}

.search-bar {
    width: 100%;
    display: block;
    position: fixed;
}

.vertical-center {
    position: fixed;
    top: 45%; 
}

.row {
    margin-bottom: 15px;
}

.btn-close {
    color: #605F61;
    border: 1px solid #427F00;
    border-radius: 5px;
    background: #ffffff;
    font-size: 20px;
    font-weight: bold;
    display: inline-block;
    line-height: 0px;
    padding: 0px;
    width: 25px;
    height: 25px;
    margin-left: 4px;
}

/*overwitten boostrap theme*/

a:hover,
a:focus,
a:active {
    text-decoration: none;
    color: #ffffff;
} 

.btn {
    font-size: 16px;
    color: #132600;
    border: 1px solid #427F00;
    background-color: #eff9e5;
    -webkit-box-shadow: inset 0 3px 5px rgba(174, 229, 116, 1);
            box-shadow: inset 0 3px 5px rgba(174, 229, 116, 1);
    opacity: 0.64;
}

.btn:hover,
.btn:active,
.btn:focus {
    color: #132600;
    background-color: #f6fcf1;
    outline: 0px;
    border: 1px solid #427F00;
    -webkit-box-shadow: inset 0 3px 5px rgba(174, 229, 116, 1);
            box-shadow: inset 0 3px 5px rgba(174, 229, 116, 1);
    opacity: 1;
}

.btn-default {
    color: #132600;
    border: 1px solid #BFAF80;
    background-color: #FAF9E6;
    -webkit-box-shadow: inset 0 3px 5px rgba(243, 239, 186, 1);
            box-shadow: inset 0 3px 5px rgba(243, 239, 186, 1);
    opacity: 0.64;
}

.btn-default:hover,
.btn-default:active,
.btn-default:focus {
    color: #132600;
    background-color: #ffffff;
    outline: 0px;
    border: 1px solid #BFAF80;
    -webkit-box-shadow: inset 0 3px 5px rgba(242, 238, 179, 1);
            box-shadow: inset 0 3px 5px rgba(242, 238, 179, 1);
    opacity: 1;
}



/*overwritten boostrap class*/
.navbar-form {
    width: 100%;
}
.form-control,
select.form-control,
textarea.form-control,
select.input,
textarea.input,
select.input-lg,
textarea.input-lg,
.input {
    width: 100%;
    font-family: sans-serif;
    color: #132600;
    font-size: 16px;
    background-color: #FAF9E6;
    opacity: 0.64;
    border: 1px solid #ffffff;

}

.form-control:hover,
.form-control:focus,
.form-control:active {
    width: 100%;
    color: #132600;
    font-size: 16px;
    background-color: #FAF9E6;
    border: 1px solid #ffffff;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(242, 238, 179, 1);
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(242, 238, 179, 1);
}

.form-control::-moz-placeholder,
.form-control:-ms-input-placeholder,
.form-control::-webkit-input-placeholder {
    width: 100%;
    color: #ffffff;
    opacity: 0.64;
}

.input-lg:focus {
    width: 100%;
    color: #132600;
    border-color: #ffffff;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(255, 255, 255, 1);
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(255, 255, 255, 1);
}

.input-lg::-moz-placeholder,
.input-lg:-ms-input-placeholder,
.input-lg::-webkit-input-placeholder {
    width: 100%;
    color: #ffffff;
    opacity: 0.64;
}
